
html {
  background-color: #060606;
  height: 100%;
}
.App {
  height: 100%;
  text-align: center;
  background-color: #060606;
  color: white;
  font-family: 'Muli', sans-serif;
}
.header {
  margin-top: 3%
}

.listRepos {
  display: block;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 7%;
  height:auto;
  max-height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #00a98f;
}
.repoInList {
  display: block;
  margin: 0 auto;
  padding: 30px;
  height: 40px;
  border: 1px solid #00a98f;
}

.repoInList:hover {
  background-color: #212121;
}

.selectedRepo {
  padding: 30px;
  position: fixed;
  right: 10%;
  top: 300px;
  border: 1px solid #00a98f;
}

.searchField {
  outline: 0;
  border-width: 0 0 2px 0;
  border-color: transparent;
  background-color:#060606 ;
  color: white;
  text-align: left;
  font-size: 2em;
  margin-left: 15%;
}

.searchField:focus {
  color: #00a98f;
}

@media screen and (min-width: 1050px) {
  .listRepos {
    width:40%;
  }
  .repoInList {
    width: 90%;
  }
  .repoName {
    font-size:1.2em;
  }
  .name {
    font-size: 1.2em;
  }
  .language {
    margin-top: 10px;
    font-size: 0.9em;
  }
  .defaultBranch {
    font-size: 0.9em;
  }
  .forks {
    font-size: 0.9em;
  }
  .update {
    margin-top: 10px;
    font-size: 0.8em;
  }

}

@media screen and (max-width: 1040px) and (min-width: 700px) {
  .listRepos {
    width:35%;
    position: relative;
    left: 5%
  }
  .repoInList {
    width: 85%;
  }
  .repoName {
    font-size:1em;
  }
  .name {
    font-size: 1em;
  }
  .language {
    margin-top: 10px;
    font-size: 0.8em;
  }
  .defaultBranch {
    font-size: 0.8em;
  }
  .forks {
    font-size: 0.8em;
  }
  .update {
    margin-top: 10px;
    font-size: 0.8em;
  }
}

@media screen and (max-width: 699px) and (min-width: 520px) {
  .listRepos {
    width:40%;
    margin-left:50%;
  }
  .repoInList {
    width: 80%;
  }
  .repoName {
    font-size:1em;
  }
  .name {
    font-size: 1em;
  }
  .language {
    margin-top: 10px;
    font-size: 0.8em;
  }
  .defaultBranch {
    font-size: 0.8em;
  }
  .forks {
    font-size: 0.8em;
  }
  .update {
    margin-top: 10px;
    font-size: 0.7em;
  }
}


@media screen and (max-width:519px) {
  .listRepos {
    width:35%;
    margin-left: 60%;
  }
  .repoInList {
    width: 60%;
  }
  .repoName {
    font-size:0.8em;
  }
  .name {
    font-size: 0.8em;
  }
  .language {
    margin-top: 10px;
    font-size: 0.6em;
  }
  .defaultBranch {
    font-size: 0.6em;
  }
  .forks {
    font-size: 0.6em;
  }
  .update {
    margin-top: 5px;
    font-size: 0.4em;
  }
}
