
html {
  background-color: #060606;
  height: 100%;
}
.App {
  height: 100%;
  text-align: center;
  background-color: #060606;
  color: white;
  font-family: 'Muli', sans-serif;
}
.header {
  margin-top: 3%
}
.listRepos {
  display: block;
  margin: 0 auto;
  margin-top: 5%;
  width:40%;
  height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid #00a98f;
}
.repoInList {
  display: block;
  margin: 0 auto;
  padding: 30px;
  width: 100%;
  height: 40px;
  border: 1px solid #00a98f;
}
.repoInList:hover {
  background-color: #212121;
}

.selectedRepo {
  padding: 30px;
  position: fixed;
  right: 150px;
  top: 300px;
  border: 1px solid #00a98f;
}
.searchField {
  outline: 0;
  border-width: 0 0 2px 0;
  border-color: transparent;
  background-color:#060606 ;
  color: white;
  text-align: left;
  font-size: 2em;
  margin-left: 15%;
}
.repoName {
  font-size:1.2em;
}
.name {
  font-size: 1.2em;
}
.language {
  margin-top: 10px;
  font-size: 0.9em;
}
.defaultBranch {
  font-size: 0.9em;
}
.forks {
  font-size: 0.9em;
}
.update {
  margin-top: 10px;
  font-size: 0.8em;
}
.searchField:focus {
  color: #00a98f;
}